@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

body {
    font-family: Nunito, Helvetica, Arial, serif;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

footer {
    align-self: flex-end;
    width: 100%;
    margin-top: 3rem;
}

.nowrap {
    white-space: nowrap;
}

.App {

}

.is-sortable {
    cursor: n-resize;
}

@keyframes fadeOut {
    0% { opacity: 1; }
    100% { opacity: 0; }
}

.fadeOut {
    animation-timing-function: ease-out;
    animation-name: fadeOut;
    animation-fill-mode: both;
}

.notifications {
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.notifications .notification {
    animation-duration: 1s;
}


/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
