name: Automatically deploy new tag onto github pages

on:
  push:
    tags:
      - v*

jobs:
  deploy:
    name: Deploy new version
    runs-on: ubuntu-latest
    env:
      CI: ''
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      GITHUB_REPOSITORY: ${{ github.repository }}
    steps:
      - name: checkout
        uses: actions/checkout@v3

      - name: setup node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22'
          cache: 'npm'

      - name: install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: deploy with gh-pages
        run: |
          git config --global user.email "github-actions-bot@github.com"
          git config --global user.name "github-actions-bot"
          git remote set-url origin https://git:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git
          npm run deploy
